<!-- Login Template-->
<div class="log-w3">
<div class="w3layouts-main">
	<h2>Sign In Now</h2>
		<form action="#" method="post">
			<input type="email" class="ggg" name="Email" placeholder="E-MAIL" required="">
			<input type="password" class="ggg" name="Password" placeholder="PASSWORD" required="">

			<h6><a href="#">Forgot Password?</a></h6>
				<div class="clearfix"></div>
				<input type="submit" value="Sign In" name="login">
		</form>
		<p>Don't Have an Account ?<a href="registration.html">Create an account</a></p>
</div>
</div>
<!-- Login Template-->

<!-- Script Files for Admin Component-->
<script src="./assets/js/bootstrap.js"></script>
<script src="./assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="./assets/js/scripts.js"></script>
<script src="./assets/js/jquery.slimscroll.js"></script>
<script src="./assets/js/jquery.nicescroll.js"></script>
<!--[if lte IE 8]>
  <script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script>
<![endif]-->
<script src="./assets/js/jquery.scrollTo.js"></script>

<!-- Script Files for Admin Component-->
